################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RandomTeamGenerator/.vs/RandomTeamGenerator/v16
